<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>康诺思腾</title>
		<link rel="stylesheet" type="text/css" href="style/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="style/animations.css" />
		<link rel="stylesheet" type="text/css" href="style/style.css?v1" />
		<link rel="stylesheet" type="text/css" href="style/hsycmsAlert.min.css" />
		<link rel="stylesheet" type="text/css" href="style/swiper.min.css" />

		<link rel="stylesheet" type="text/css" href="style/font.css" />

		<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/hsycmsAlert.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

		<link rel="stylesheet" href="vue/index.css">
		<script src="vue/vue.js"></script>
		<script src="vue/index.js"></script>
		
		
		<script src="js/city.js" type="text/javascript" charset="utf-8"></script>

		<meta name='viewport'
			content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' />

		<!-- <style>
			html,body{ overflow: hidden; }
		</style> -->

	</head>
	<body>
		<div class="NavBox"></div>
		<div class="swiper-container h100 contact" id="swiper-container1">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="pr winHeight"
						style="background: url(img/banner5.jpg) no-repeat center; background-size:cover;">

						<div class="w1200 m0aoto h100 flex alignitems_center">
							<img width="60%" src="img/banner5txt.png" alt="">
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="winHeight"
						style="background: url(img/cont1.jpg) no-repeat center top; background-size:cover;">
						<div class="w1200 m0aoto">
							<div class="h60"></div>
							<div class="h60"></div>
							<div class="animated pt-page-delay500 fadeInUp">
								<div class="f24 fb">联系方式</div>
							</div>
							<div class="h60"></div>
							<div class="animated pt-page-delay1000 fadeInUp">
								<div class="" style="border-bottom:1px solid #979797;">

									<div class="f22 fb c005059">中国</div>
									<div class="h30"></div>
									<div class="flex f16 alignitems_center justify_between">
										<div class="contname">深圳</div>
										<div class="center">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">电话：</span>000-00000000</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">邮箱：</span>XXXXXXXXX@XXXX.com</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">传真：</span>0000-00000000</div>
										</div>
									</div>
									<div class="h30"></div>
									<div class="flex f16 alignitems_center justify_between">
										<div class="contname">香港</div>
										<div class="center">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">电话：</span>000-00000000</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">邮箱：</span>XXXXXXXXX@XXXX.com</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">传真：</span>0000-00000000</div>
										</div>
									</div>
									<div class="h30"></div>
									<div class="flex f16 alignitems_center justify_between">
										<div class="contname">北京</div>
										<div class="center">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">电话：</span>000-00000000</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">邮箱：</span>XXXXXXXXX@XXXX.com</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">传真：</span>0000-00000000</div>
										</div>
									</div>
									<div class="h30"></div>
								</div>
								<div class="">
									<div class="h30"></div>
									<div class="f22 fb c005059">美国</div>
									<div class="h30"></div>
									<div class="flex f16 alignitems_center justify_between">
										<div class="contname">波士顿</div>
										<div class="center">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">电话：</span>000-00000000</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">邮箱：</span>XXXXXXXXX@XXXX.com</div>
										</div>
										<div class="center" style="">
											<div class="f14" style=" letter-spacing:1px;"><span
													class="fb">传真：</span>0000-00000000</div>
										</div>
									</div>
									<div class="h30"></div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="swiper-slide">

					<div class="swiper-container h100" id="Ybox2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="w1200 m0aoto">
									<div class="h60"></div>
									<div class="h60"></div>
									<!-- animated pt-page-delay500 fadeInUp -->
									<div class="">
										<div class="f24 fb">信息采集</div>
										<div class="h20"></div>
										<div class="f16 fw100">我们诚邀您填写个人基本信息，便于我们选择匹配度最高的团队为您提供服务</div>
									</div>
									<div class="h60"></div>
									 <!-- animated pt-page-delay1000 fadeInUp -->
									<div id="app" class="f16" style="background: #F4F4F4; padding: 30px;">
										
										<div class="flex justify_between">
											<div class="" style="width: 48%;">
												<div class="backjb1 fb cfff" style="padding: 10px 15px;">
													*您的姓名(必填项)
												</div>
												<div>
													<el-input v-model="form.trueName" placeholder="请输入您的姓名"></el-input>
												</div>
											</div>
											<div class="" style="width: 48%;">
												<div class="backjb1 fb cfff" style="padding: 10px 15px;">
													*联系电话(必填项)
												</div>
												<div>
													<el-input :maxlength="11" v-model="form.phone" placeholder="请输入您的电话号码"></el-input>
												</div>
											</div>
										</div>
										<div class="h30"></div>
										<div class="flex justify_between">
											<div class="" style="width: 48%;">
												<div class="backjb1 fb cfff" style="padding: 10px 15px;">
													*单位名称(必填项)
												</div>
												<div>
													<el-input v-model="form.companyName" placeholder="请输入您的单位名称"></el-input>
												</div>
											</div>
											<div class="" style="width: 48%;">
												<div class="backjb1 fb cfff" style="padding: 10px 15px;">
													所在城市
												</div>
												<div>
													<el-cascader :props="props"
													    v-model="form.surname"
													    :options="city" style="width: 100%;" placeholder="请选择您的所在城市"></el-cascader>
												</div>
											</div>
										</div>
										<div class="h30"></div>
										<div class="flex justify_between">
											<div class="" style="width: 48%;">
												<div class="backjb1 fb cfff" style="padding: 10px 15px;">
													电子邮箱
												</div>
												<div>
													<el-input v-model="form.email" placeholder="请输入您的电子邮箱"></el-input>
												</div>
											</div>
											<div class="" style="width: 48%;">
												<div class="backjb1 fb cfff" style="padding: 10px 15px;">
													职业名称
												</div>
												<div>
													<el-input v-model="form.job" placeholder="请输入您的职业名称"></el-input>
													
												</div>
											</div>
										</div>
										
										
										<div class="h30"></div>
										<div>
											<div class="backjb1 fb cfff" style="padding: 10px 15px;">
												*留言板(必填项)
											</div>
											<div>
												<el-input rows="6" type="textarea" v-model="form.message"
													placeholder="请简要描述您的问题，以便我们更好地为您提供帮助"></el-input>
											</div>
										</div>
										<div class="h30"></div>
										
										<div class="flex alignitems_center cursor f14" style="color: #979797;">
											<span class="flex alignitems_center" @click="butagree">
												<div class="center b005059 bor4 cfff" style="width: 16px; height: 16px; margin-right: 5px; ">
													<i v-if="form.isagree" class="el-icon-check"></i>
												</div>
												我已阅读并同意本网站
											</span>
											<a href="" class="c005059" style="border-bottom: #005059 solid 1px;">《隐私声明》</a>
											条款
										</div>
										
										<div class="h60"></div>
										<div class="center">
											<div class="center cfff f16 fb cursor" @click="submit"
												style="background: #005059; width: 150px; height: 50px;">提交</div>
										</div>
										<div class="h30"></div>
									</div>
									<div class="h60"></div>
								</div>
								<div class="footerBox"></div>
							</div>
						</div>
						<div class="swiper-scrollbar"></div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(".NavBox").load("Nav.html");
			$(".footerBox").load("footer.html");

			function screenFuc() {
				var winWidth = $(window).innerWidth();
				var winHeight = $(window).innerHeight()
				//var winHeight = 500
				$(".winHeight").css({
					"height": winHeight + "px"
				})
			}
			(window.onresize = function() {
				screenFuc();
			})();

			new Vue({
				el: '#app',
				data() {
					return {
						props:{value:"label"},
						city:city,
						form:{
							isagree:false,
							job:"",
							questionType:"",
							message:"",
							trueName:"",
							city:"",
							companyName:"",
							phone:"",
							email:""
						}
					};
				},
				methods: {
					butagree(){
						this.form.isagree=this.form.isagree?false:true
					},
					isPoneAvailable(poneInput) {
						var myreg = /^[1][2,3,4,5,6,7,8,9][0-9]{9}$/;
						if (!myreg.test(poneInput)) {
							return false;
						} else {
							return true;
						}
					},
					isEmailAvailable(emailInput) {
						var reg = /^[a-zA-Z0-9]+([-_.][A-Za-zd]+)*@([a-zA-Z0-9]+[-.])+[A-Za-zd]{2,5}$/
						return reg.test(emailInput);
					},
					submit(){
						if(this.form.trueName==""){
							this.$message.error('请输入您的名字！');
							return
						}
						if (this.form.phone == "") {
							this.$message.error('请输入联系电话！');
							return
						}
						if(!this.isPoneAvailable(this.form.phone)){
							this.$message.error('联系电话格式不正确！');
							return
						}
						if(this.form.companyName==""){
							this.$message.error('请输入单位名称！');
							return
						}
						
						if (this.form.email) {
							if(!this.isEmailAvailable(this.form.email)){
								this.$message.error('电子邮箱格式不正确！');
								return
							}
						}
						
						// if(this.form.job==""){
						// 	this.$message.error('请选择您的职业！');
						// 	return
						// }
						// if(this.form.questionType==""){
						// 	this.$message.error('请选择问题类型！');
						// 	return
						// }
						if(this.form.message==""){
							this.$message.error('请在留言板输入内容！');
							return
						}
						
						// if(this.form.surname==""){
						// 	this.$message.error('请选择所在城市！');
						// 	return
						// }
						
						
						
						if(!this.form.isagree){
							this.$message.error('请阅读并同意本网站《隐私声明》条款！');
							return
						}
						const loading = this.$loading({
							lock: true,
							text: 'Loading',
							spinner: 'el-icon-loading',
							background: 'rgba(0, 0, 0, 0.7)'
						});
						setTimeout(() => {
							loading.close();
							
						}, 2000);
						console.log(this.form)
					}
				}
			})


			$(function() {

				var mySwiper1 = new Swiper('#swiper-container1', {
					direction: 'vertical',
					speed: 1000,
					on: {
						transitionEnd: function() {
							// $("#swiper-container1>div>div.swiper-slide-active .ani").css({
							// 	opacity: 1
							// }).addClass("animated").removeClass(".ani")
						},
					},
				});
				var Ybox2 = new Swiper('#Ybox2', { //子swiper
					direction: 'vertical',
					nested: true,
					//resistanceRatio: 0,
					slidesPerView: 'auto',
					freeMode: true,
					mousewheel: {
						sensitivity: 0.3,
					},
					scrollbar: {
						el: '.swiper-scrollbar',
					},
				})

				var flag = true;
				var height = $(window).innerHeight();
				var tem = 0;
				var isFirefox = (/Firefox/i.test(navigator.userAgent)); //判断是不是火狐浏览器
				var agent = navigator.userAgent.toLowerCase();
				var isMac = /macintosh|mac os x/i.test(navigator.userAgent);
				$(window).on(isFirefox ? 'DOMMouseScroll' : 'mousewheel', function(e) {
					var delta = isFirefox ? e.detail * -1 : e.originalEvent.wheelDelta;

					if (!flag) {
						return
					}
					flag = false;
					var flagTimg = 1000
					var Ybox = $("#swiper-container1>.swiper-wrapper>.swiper-slide-active>div").attr("id")

					if (delta < 0) {
						if (Ybox) {
							if (Ybox.indexOf("Ybox") >= 0) {
								if (Ybox2.isEnd) {
									mySwiper1.slideNext();
								}
							}
							flagTimg = 200
						} else {
							mySwiper1.slideNext();
						}
					} else {
						if (Ybox) {
							if (Ybox.indexOf("Ybox") >= 0) {
								if (Ybox2.isBeginning) {
									mySwiper1.slidePrev();
								}
							}
							flagTimg = 200
						} else {
							mySwiper1.slidePrev();
						}
					}
					setTimeout(() => {
						flag = true
					}, isMac?1500:500)
				})
			})
		</script>
	</body>
</html>
