<div class="footer cfff">
    <div class="b383838">
        <div class="w1200 m0aoto">
            <div class="h60"></div>
            <div class="footer_t flex justify_between">
                <div class="footer_tl_logo">
                    <div class="ovh iconfonts icon-a-Blueyingwenlogo" style="font-size: 62px;"> </div>
                    <div class="h30"></div>
                    <div class="" style="opacity: 0.6;">
                        - <a href="/Newsdis/Index/7a6329cd-1040-4f44-a23c-f06fbd8a2d04" target="_blank" 
                             style="color: #fff;">Legal Notice</a>&nbsp;&nbsp;&nbsp;&nbsp;- <a href="/Newsdis/Index/99fdbd51-24e3-4c36-9014-e65e23840b5c" target="_blank" style="color: #fff;">Privacy Policy</a>
                    </div>
                </div>

                <div class="center f16 fb">
                    <a href="/product_center"
                       style="color: #fff; border-bottom:1px #fff solid; ">Products</a>
                    <a href="javascript:$('.jq').show();"
                       style="color: #fff; border-bottom:1px #fff solid; margin: 0px 80px; ">Education&training</a>
                    <a href="/careers"
                       style="color: #fff; border-bottom:1px #fff solid; ">Join Us</a>
                </div>

                <div class="flex">
                    <div class="">
                        <div class="center">
                            <img width="80" src="@ViewBag.BottomInfo.F_SharePic" alt="">
                        </div>
                        <div class="h10"></div>
                        <div class="tec" style="opacity: 0.6;">WeChat</div>
                    </div>
                    <div class="" style="opacity: 0.8; margin-left: 20px; ">
                       @Html.Raw(ViewBag.BottomInfo.F_WonderfulContent)
                    </div>
                </div>
            </div>
            <div class="h60"></div>
        </div>
    </div>
    <div class="footer_b f12 b000 tec">
        @Html.Raw(ViewBag.BottomInfo.F_LiveIntroduction)
        @*<div class="center">
            <div class="">© 2022 深圳康诺思腾科技有限公司 All rights reserved.</div>
            <div class="" style="margin-left: 30px;">网站备案/许可证号：粤ICP备202213662号</div>
        </div>
        <div class="center">
            <div class="">粤公网安备 31011502015178号</div>
            <div class="" style="margin-left: 30px;">
                互联网药品信息服务资格证书编号：(粤)-非经营性-2022-0020
            </div>
        </div>*@
    </div>
</div>

<script>var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0f7d1c955c4f6766546407985e32ed00";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();</script>