<div class="Navigation pf flex alignitems_center trall3" style="z-index: 3;">
    <div class="w1200 m0aoto flex alignitems_center justify_between">
        <div class="center">
            <a href="/" class="center iconfonts icon-a-Blueyingwenlogo trall3" style="font-size: 40px;">

            </a>
        </div>
        <div class="flex alignitems_center justify_end" style="width: calc(100% - 150px);">

            <div class="f16 flex alignitems_center justify_end header-menu">
                <div class="header-menu-lm">
                    <a href="/" class="header-menu-title center pr cursor cfff lm1 trall3">
                        首页<span class="dn"></span>
                        <div class="global-subnav pa dn"></div>
                    </a>
                    <div class="global-subnav__links pa dn">

                    </div>
                </div>
                <div class="header-menu-lm">
                    <a href="/about_us" class="header-menu-title center pr cursor cfff lm1 trall3">
                        关于我们<span class="dn"></span>
                        <div class="global-subnav pa dn"></div>
                    </a>
                    <div class="global-subnav__links pa dn">
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>全球布局</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>工程师基因</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>联系我们</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                    </div>
                </div>
                <div class="header-menu-lm">
                    <a href="/product_center" class="header-menu-title center pr cursor cfff lm1 trall3">
                        产品中心<span class="dn"></span>
                        <div class="global-subnav pa dn"></div>
                    </a>
                    <div class="global-subnav__links pa dn">
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>系统</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>软件</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>配件</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>视觉</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>吻合器</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>能量器械</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>服务</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                    </div>
                </div>
                <div class="header-menu-lm">
                    <a href="javascript:$('.jq').show();" class="header-menu-title center pr cursor cfff lm1 trall3">
                        教育培训<span class="dn"></span>
                        <div class="global-subnav pa dn"></div>
                    </a>
                    <div class="global-subnav__links pa dn">
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>实操培训中心</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="#" class="flex alignitems_center justify_between">
                            <div>理论培训课程</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                    </div>
                </div>
                <div class="header-menu-lm">
                    <a href="/news_center" class="header-menu-title center pr cursor cfff lm1 trall3">
                        新闻中心<span class="dn"></span>
                        <div class="global-subnav pa dn"></div>
                    </a>
                    <div class="global-subnav__links pa dn">

                    </div>
                </div>
                <div class="header-menu-lm">
                    <a href="/careers" class="header-menu-title center pr cursor cfff lm1 trall3">
                        招贤纳士<span class="dn"></span>
                        <div class="global-subnav pa dn"></div>
                    </a>
                    <div class="global-subnav__links pa dn">
                        <a href="development.html?id=1" class="flex alignitems_center justify_between">
                            <div>职位搜索</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="development.html?id=2" class="flex alignitems_center justify_between">
                            <div>工作文化</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                        <a href="development.html?id=3" class="flex alignitems_center justify_between">
                            <div>员工福利</div>
                            <div class="iconfont icon-icon_arrow center"></div>
                        </a>
                    </div>
                </div>
                <div class="header-menu-lm">
                    <a href="/contact_us" class="header-menu-title center pr cursor cfff lm1 trall3">
                        联系我们<span class="dn"></span>
                        <div class="global-subnav pa dn"></div>
                    </a>
                    <div class="global-subnav__links pa dn">

                    </div>
                </div>
                <div class="header-menu-lm showlan">
                    <a href="javascript:void(0);" class="header-menu-title center pr cursor cfff lm1 trall3 butlang">
                    EN
                    <i class="iconfonts icon-jiantou f12" style="margin-left: 5px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pa whtl0 center jq" style="background: rgba(0, 0, 0, 0.8); z-index: 9; display:none;">
    <div class="bfff" style="padding: 50px 50px 30px 50px;">

        <div class="f16 tec" style="color: #979797; line-height: 2; ">
           敬请期待
        </div>
        <div class="h20"></div>
        <div class="h10"></div>
        <div class="b005059 center f16 cursor m0aoto cfff"
             style=" width: 150px; height: 48px; " onclick="javascript: $('.jq').hide();">确定</div>
    </div>
</div>


<script type="text/javascript">
    var navArr = ["about_us", "product_center", "education_and_training", "news_center", "careers", "contact_us"]
    var currentNum = -1
    for (var i = 0; i < navArr.length; i++) {
        if (window.location.href.indexOf(navArr[i]) >= 0) {
            currentNum = i
        }
    }

    if (window.location.href.indexOf("Newsdis") >= 0) {
        currentNum = 3
    }

    if (currentNum >= 0) {
        $(".header-menu>div:nth-child(" + (currentNum + 2) + ") .lm1").addClass("on")
    } else {
        $(".header-menu>div:nth-child(1) .lm1").addClass("on")
    }

    $(".Navigation>div").click(function () {
        if ($(this).hasClass("on")) {
            $(this).removeClass("on")
        } else {
            $(this).addClass("on")
        }
    })

    $(function () {
        $("#swiper-container1").click(function (event) {
            $(".Navigation>div").removeClass("on")
        })
    });

    $(".butlang").click(function () {
        var origin = window.location.origin;  
        var pathname = window.location.pathname;
       
        var url = ""
        if (pathname.indexOf("/en") >= 0) {
            url = origin + pathname.split("/en")[1]
        } else {
            url = origin + "/en" + pathname
        }
      
        location.href = url

    })
   
</script>